<div class="row">
        <button id="collapse-button" class="col-md-2 col-md-push-3" data-toggle="collapse" data-target="#right0">Classifier Glyphs</button>
        <div class="col-md-2 col-md-push-3" id="right0" style="margin-top:15px;">
            <div class="classifier-table-region"></div>
        </div>
    <div class="col-md-4 col-md-push-3" id="right1">
        <div class="glyph-table-region row"></div>
    </div>
    <div class="col-md-4 col-md-push-3" id="right2">
        <div class="page-image-preview-region"></div>
    </div>
    <div style = "resize: both;" class="col-md-3 col-md-pull-9" id="left1">
        <h2><%- classesHeader %></h2>
        <div class="glyph-class-tree-region"></div>
    </div>
    <div class="col-md-3 col-md-pull-9" id="left2">
        <h2><%- editGlyphLabel %></h2>
        <div class="glyph-edit-region">
            <p><%- editGlyphDescription %></p>
        </div>
    </div>
</div>

    <div class="modal-test"></div>
