<table class="table table-hover">
<% _.each(glyphs, function(value, key, list) { %>
<tr>
    <td class="active"><%= key %></td>
    <td>
        <% _.each(value, function(element, index, list) { %>
        <a href="/glyph/<%= element.id %>/" class="glyph" name="<%= element.id %>">
            <img src="<%= element.image_file %>" alt="<%= element.short_code %>" class="img-thumbnail <% if (element.id_state_manual) { %>alert-success<% } else { %>alert-warning<% } %>" style="height: 50px; float:left; image-rendering: pixelated;">
        </a>
        <% }); %>
    </td>
</tr>
<% }); %>
</table>