<div class="row">
    <div class="col-md-10 col-md-push-2">
        <div class="glyph-table-region row" style="overflow-y:scroll; max-height:1000px;">
        </div>
        <!--<div class="row" style="max-height: 500px; overflow-y:scroll; overflow-x:scroll;">-->
            <!--<img src="http://lorempixel.com/image_output/abstract-q-c-1920-1920-1.jpg"/>-->
        <!--</div>-->
    </div>
    <div class="col-md-2 col-md-pull-10" style="height: 100%; overflow-y:scroll;">
        <div class="glyph-class-create-region"></div>
        <h2>Classes</h2>
        <div class="glyph-class-tree-region"></div>
    </div>
</div>

<div class="modal-test"></div>