<div class="row">
    <div class="col-md-9 col-md-push-3" id="right1">
        <div class="glyph-table-region row"></div>
    </div>
    <div class="col-md-9 col-md-push-3" id="right2">
        <div class="page-image-preview-region"></div>
    </div>
    <div class="col-md-3 col-md-pull-9" id="left1">
        <h2>Classes</h2>
        <div class="glyph-class-tree-region"></div>
    </div>
    <div class="col-md-3 col-md-pull-9" id="left2">
        <h2>Edit Glyph</h2>
        <div class="glyph-edit-region">
            <p>Click on a Glyph to edit it.</p>
        </div>
    </div>
</div>

<div class="modal-test"></div>